.content {
    padding: 53px 160px;

    &-container {
        width: 100%;
    }
}

$col-widths: 1 2 3 4 5 6 7 8 9 10 11 12;

.row {
    display: flex;

    @each $col-width in $col-widths {
        & > .col-#{$col-width} {
            $result: percentage((1/ 12) * $col-width);
            width: calc(#{$result} - 2px);
            margin: 0 1px;
            padding: 5px 0;
        }
    }
}
