.content {
    padding: 25px 145px;

    &-container {
        width: 100%;
    }

    &-has-sidebar {
        margin-left: $sidebar-width;
        transition: all 0.2s ease-in;

        @media screen and (max-width: 420px) and (orientation: portrait) {
            margin-left: 0;
        }
    }

    &-active {
        margin-left: $sidebar-width !important;
    }

    @media screen and (max-width: 420px) and (orientation: portrait) {
        padding: 10px;
    }
}