.login {
    width: 24.5rem;
    height: 36.5rem;
    text-align: center;
    padding: 4rem 3rem;

    &__brand {
        &-img {
            margin-top: 1rem;
            margin-bottom: 2.35rem;
            margin-left: auto;
            margin-right: auto;
            width: 140px;
            display: block;
        }

        &-subtitle {
            color: var(--body-color);
            display: block;
            font-size: 12.5px;
            font-weight: 400;
            color: var(--color-grey);
            margin: 0 1rem;
            line-height: 1.4;
        }

        &-title {
            display: block;
            color: $color-black;
            margin: 1.3rem 1rem 2rem 1rem;
            font-size: 22px;
        }
    }

    &__action {
        &-break {
            margin-top: 1.25rem;
            display: flex;
            margin-bottom: 2rem;

            & > span {
                display: inline-block;
                margin: 0 1rem;
                color: var(--color-grey);
            }

            &-line {
                width: 43%;
                height: 0;
            }
        }
    }

    &__footer {
        font-size: 12px;
        line-height: 18px;
        color: var(--color-grey);
    }

    @media screen and (max-width: 420px) and (orientation: portrait) {
        width: 290px;
        box-shadow: none;
        padding: 4rem 0;
    }
}
