{% extends 'layouts/app.html' %}

{% block header %}
<h1>{% block title %}Elections{% endblock %}</h1>
{% endblock %}

{% block breadcrums %}
<a href="" class="breadcrums">elections</a>
<a href="" class="breadcrums breadcrums-active">
    {% if status %}
    <span class="badge badge-{{status}}">{{status}}</span>
    {% endif %}
</a>
{% endblock %}

{% block content %}

{% if elections|length == 0 %}
<section class="h--80 center-y">
    <div class="space--md t-center">
        <h1 class="title t-center">
            No Elections found
            {% if status %}
            in <span class="badge badge-{{status}}">{{status}}</span>
            {% endif %}
        </h1>
    </div>
</section>

{% else %}

<div class="">
    <div class="space--md pb-0">

        <h1 class="banner-title space-lr">
            Elections
        </h1>
        <p class="banner-subtitle space-lr">
            Index for all the elections contained by the repository.
            {% if status %}
            [filter - <small class="badge badge-{{status}}">{{status}}</small>]
            {% endif %}
        </p>
    </div>
    <div class="space--md pt-0">
        <div class="">
            {% for e in elections %}
            <div class="boxed-hover">
                <h2 class="title pb-0 mb-0">
                    <a href="{{ url_for('elections_single', eid=e['key']) }}" class="color-primary ">
                        {{ e['name'] }}
                    </a>
                </h2>
                <small class="text-muted">
                    {{ e['organization']}} |
                    Running from  {{ e['start_datetime'] }} to {{ e['end_datetime'] }} |
                    <a href="{{ url_for('elections', status=e['status']) }}">
                        <span class="badge badge-{{  e['status'] }} ">{{ e['status'] }}</span>
                    </a>
                </small>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endif %}

{% endblock %}