{% extends 'layouts/app.html' %}

{% block header %}
<h1>{% block title %}{{ election['name'] }}{% endblock %}</h1>
{% endblock %}

{% block breadcrums %}
<a href="{{ url_for('elections') }}" class="breadcrums">elections</a>
<a href="{{ url_for('elections_single', eid=election['key']) }}" class="breadcrums breadcrums-active">{{
    election['name'] }}</a>
{% endblock %}

{% block content %}


<div class="">
    <div class="space--md pb-0">
        <h1 class="banner-title space-lr">
            {{ election['name'] }}
        </h1>
        <p class="banner-subtitle space-lr mb-2rem">
            <span class="mr-5px">{{ election['organization'] }}</span>
            <span class="text-muted mr-5px">|</span>
            <small class="badge mr-5px badge-{{  election['status'] }} ">{{ election['status'] }}</small>
            <span class="text-muted mr-5px">|</span>
            {% if g.user['login'] in voters['eligible_voters'] %}
            <small class="badge badge-blue ">eligible</small>
            {% else %}
            <small class="badge badge-blue">Not eligible</small>
            {% endif %}
        </p>
        <div class="description space-lr pb-0">
            {{ election['description'] | safe }}
        </div>
    </div>
    <div class="space--md pt-1rem">
        <h4 class="title space-lr">
            Candidates
        </h4>
        <div class="d-flex flex-wrap">
            {% for candidate in candidates %}
            <div class="boxed-hover" style="min-width: 8rem;">
                <h2 class="title pb-0 mb-0">
                    <a href="{{ url_for('elections_candidate', eid=election['key'], cid=candidate['key']) }}"
                        class="color-primary ">
                        {{ candidate['name'] }}
                    </a>
                </h2>
                <small class="text-muted">
                    {{ candidate['ID']}} |
                    <a class=""
                        href="{{ url_for('elections_candidate', eid=election['key'], cid=candidate['key']) }}">profile</a>
                </small>
            </div>
            {% endfor %}
        </div>
        <p class="disclaimer space-lr mt-1rem">
            The poll starts from <b>{{ election['start_datetime'] }} UTC</b> and ends at
            <b>{{ election['end_datetime'] }} UTC</b>.
        </p>
    </div>

    <div class="space--md pt-0">
        <div class="space-lr">
            {% if election['status'] == 'completed' %}
            {% if election['results'] %}
            <a href="{{ url_for('elections_results', eid=election['key'])}}" class="btn btn-grey">Results</a>
            {% else %}
            <div class="mb-2rem">The results are not published yet.</div>
            {% endif %}
            {% endif %}

            {% if g.user['login'] in election['election_officers'] %}
            <a href="{{ url_for('elections_admin', eid=election['key'])}}" class="btn btn-grey">Admin</a>
            {% endif %}

            {% if election['status'] == 'running' and g.user['login'] in voters['eligible_voters'] %}
            {% if g.user['login'] not in voted %}
            <a href="{{ url_for('elections_voting_page', eid=election['key'])}}" class="btn btn-grey">vote</a>
            {% else %}
            <a href="{{ url_for('elections_edit_ballot', eid=election['key'])}}" class="btn btn-grey">Change the vote</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
