{% extends 'layouts/app.html' %}

{% block header %}
<h1>{% block title %}{{ election['name'] }}{% endblock %}</h1>
{% endblock %}

{% block breadcrums %}
<a href="{{ url_for('elections') }}" class="breadcrums">elections</a>
<a href="{{ url_for('elections_single', eid=election['key']) }}" class="breadcrums">{{ election['name'] }}</a>
<a href="" class="breadcrums breadcrums-active">vote</a>
{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="space--md pb-1rem">
        <div class="border--bottom pb-10px mb-1rem">
            <h1 class="title title-has-subtitle pb-0">
                {{ election['name'] }}
            </h1>
            <span>{{ election['organization'] }}</span>
        </div>
        <p class="disclaimer">
            The poll ends <b>{{ election['end_datetime'] }}</b>.
            The poll is supervised by
            <b>
                {% for eo in election['election_officers'] %}
                <a class="text-dark" target="__blank" href="https://github.com/{{ eo }}">
                    {{ eo + ', ' if election['election_officers']|length > loop.index else eo + '.' }}
                </a>
                {% endfor %}
            </b>
            Contact the poll supervisor if you need help.
        </p>
    </div>
    <div class="space--md pt-0">
        <h1 class="subtitle border--bottom">
            Candidates
        </h1>
        <div class="draggable">
            {% for candidate in candidates %}

            <div class="row border--bottom draggable-row">
                <div class="col-9">
                    <a href="{{ url_for('elections_candidate', eid=election['key'], cid=candidate['key']) }}">
                        <span class="row-title">
                            {{ candidate['name'] }}
                        </span>
                    </a>
                </div>
                <div class="col-3 text--right">
                    <a class="text-dark"
                        href="{{ url_for('elections_candidate', eid=election['key'], cid=candidate['key']) }}">view
                        profile</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.11/lib/draggable.bundle.js"></script>
<script>
    const draggable = new Draggable.Draggable(document.querySelectorAll('.draggable'), {
        draggable: 'div',
        exclude: {
            sensors: [Draggable.Sensors.TouchSensor],
        }
    });
    draggable.on('drag:start', () => console.log('drag:start'));
</script>
{% endblock %}