$available-heights-size: 10 20 30 40 50 60 70 80 90 100;
$sides: left right top bottom;
$alignments: left right center;
$available-index: 0 5px 10px 1rem 2rem 3rem 4rem 5rem 6rem 7rem 8rem 9rem 10rem;

@each $height in $available-heights-size {
    .h--#{$height} {
        height: #{$height}vh;
    }
}

@each $side in $sides {
    .border--#{$side} {
        border-#{$side}: 1px solid var(--color-border);
    }
}

@each $alignment in $alignments {
    .text--#{$alignment} {
        text-align: #{$alignment};
    }
}

@each $i in $available-index {
    .m-#{$i} {
        margin: #{$i} !important;
    }
    .mt-#{$i} {
        margin-top: #{$i} !important;
    }
    .ml-#{$i} {
        margin-left: #{$i} !important;
    }
    .mr-#{$i} {
        margin-right: #{$i} !important;
    }
    .mb-#{$i} {
        margin-bottom: #{$i} !important;
    }

    .p-#{$i} {
        padding: #{$i} !important;
    }
    .pt-#{$i} {
        padding-top: #{$i} !important;
    }
    .pl-#{$i} {
        padding-left: #{$i} !important;
    }
    .pr-#{$i} {
        padding-right: #{$i} !important;
    }
    .pb-#{$i} {
        padding-bottom: #{$i} !important;
    }
}

// Spacing
.space--md {
    padding: 2rem 1rem;
}

.space--lg {
    padding: 4rem 2.5rem;
}

.space--xl {
    padding: 6rem 3.5rem;
}

.bordered {
    border: 1px solid var(--color-border);
}

// Color

.text-dark, .t-dark {
    color: $color-black;
}


.t-center {
    text-align: center;
}

// Display
.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.justify-around {
    justify-content: space-between;
}

.center-y {
    display: grid;
    align-items: center;
    justify-content: center;
}

// background 
.bg-warning {
    background: rgba(233, 168, 0, 0.2) none repeat scroll 0% 0%;
}

.bg-green {
    background: rgba(0, 135, 107, 0.2) none repeat scroll 0% 0%;
}