@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
    --bg-color: #ffffff;
    --secondary-bg-color: #eeeeee;
    --heading-color: #5f5f5f;
    --body-color: #615E5E;;
    --post-color: rgba(0, 0, 0, 0.44);
    --border-color: rgba(0, 0, 0, 0.15);
    --pre-bg-color: #f9f9fd;
    --nav-text-color: #5a5a5a;
    --tag-color: #424242;
    --blockquote-text-color: #858585;
    --blockquote-border-color: #dfe2e5;
    scroll-padding-top: 100px;

    --color-grey: #a8a8a8;
    --color-border: #DCDCDC;
    --color-sidebar: #615E5E;
}

$color-black: #24292e;
$color-white: #ffffff;

$font-size-body: 15px;
$font-size-para: 14px;
$font-size-subtitle: 12.5px;

$primary-font: "Poppins", sans-serif;