{% extends 'layouts/app.html' %}

{% block header %}
<h1>{% block title %}Admin {% endblock %}</h1>
{% endblock %}

{% block breadcrums %}
<a href="{{ url_for('elections') }}" class="breadcrums">elections</a>
<a href="{{ url_for('elections_single', eid=election['key']) }}" class="breadcrums">{{ election['name'] }}</a>
<a href="" class="breadcrums breadcrums-active">Admin</a>
{% endblock %}

{% block content %}


<div class="">
    <div class="space--md pb-0">
        <h1 class="banner-title space-lr">
            Election Officer's Dashboard
        </h1>
        <p class="banner-subtitle space-lr">
            {{ election['name'] }} | {{ election['organization'] }} | <span
                class="badge badge-{{  election['status'] }} ">{{ election['status'] }}</span>
        </p>
    </div>
    <div class="space--md">
        <div class="row space-lr justify-content-around">
            <div class="col-md-6 p-0">
                <h3 class="title">Statistics</h3>
                {% if e.voters | length %}
                Last ballot was created at - {{ e.ballots[-1].created_at }}
                {% else %}
                No one has voted.
                {% endif %}
                {% if election['status'] == 'completed' %}
                <div class="mt-1rem">
                    <a href="{{ url_for('elections_admin_results', eid=election['key'])}}" class="btn btn-grey">Generate
                        Results</a>
                    <a href="" class="btn mt-10px btn-grey">
                        Export and download ballots to CSV</a>
                </div>
                {% endif %}
            </div>
            <div class="col-md-2 text-center boxed-2 p-1rem">
                <h1 class="mt-1rem" style="font-weight: 100; font-size: 5rem;">
                    {{ election['no_winners'] }}
                </h1>
                <span>No winners</span>
            </div>
            <div class="col-md-3 text-center boxed-2 p-2rem">
                <h1 style="font-weight: 100; font-size: 5rem;">
                    {{ e.voters | length }}
                </h1>
                <span>voter's count</span>
            </div>
        </div>
    </div>
    <div class="space--md pt-0">
        <h3 class="title space-lr">Exception Requests</h3>
        {% for r in e.requests  %}
            <div class="boxed-hover">
                <h2 class="title pb-0 mb-0">
                    <a href="{{ url_for('elections_admin_review', eid=election['key'], rid=r.id) }}" class="color-primary ">
                        {{ r.name }}
                    </a>
                </h2>
                <div class="row">
                    <div class="col-md-12 col-lg-7 col-sm-12">
                        <span class="text-muted">
                        {{ r.email }} <span class="pl-5px pr-5px">|</span>
                        </span>
                        <span class="text-muted">{{ r.chat }}</span>
                        <span class="pl-5px pr-5px">|</span>
                        <span class="badge badge-{% if r.reviewed %}completed{% else %}upcoming{% endif %}">
                            {% if r.reviewed %}Reviewed{% else %}Not Reviewed{% endif %}
                        </span>
                    </div>
                    <div class="col-md-12 col-lg-5 col-sm-12 text-lg-right">
                        <span class="text-right text-muted">
                            <small>
                            Created at {{ r.created_at }}
                            </small>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
