{% extends 'layouts/app.html' %}

{% block header %}
<h1>{% block title %}Thank you {% endblock %}</h1>
{% endblock %}

{% block breadcrums %}
<a href="{{ url_for('elections') }}" class="breadcrums">elections</a>
<a href="{{ url_for('elections_single', eid=election['key']) }}"
    class="breadcrums">{{ election['name'] }}</a>
<a href=""
    class="breadcrums breadcrums-active">Confirmation</a>
{% endblock %}

{% block content %}

<section class="h--80 center-y">
    <div class="">
        <h1 class="banner-title space-lr">
            Thank you for voting in {{ election['name'] }}
        </h1>
        <p class="space-lr ml-5px">
            Your vote has been stored securely; To see the result see
            <a href="{{ url_for('elections_single', eid=election['key']) }}">
                {{ election['name'] }}'s
            </a>
            description page.
        </p>
    </div>
</section>

{% endblock %}
