
{% extends 'layouts/app.html' %}

{% block header %}
<h1>{% block title %}{{ election['name'] }}{% endblock %}</h1>
{% endblock %}

{% block breadcrums %}
<a href="{{ url_for('elections') }}" class="breadcrums">elections</a>
<a href="{{ url_for('elections_single', eid=election['key']) }}" class="breadcrums">{{
    election['name'] }}</a>
<a href="" class="breadcrums breadcrums-active">Exception</a>
{% endblock %}

{% block content %}
<div class="">
    <div class="space--md pb-0">
        <h3 class="banner-title space-lr">
            Voter Exception form for {{election['name']}}
        </h3>
        <p class="banner-subtitle space-lr mb-2rem">
            <span class="mr-5px">{{ election['organization'] }}</span>
            <span class="text-muted mr-5px">|</span>
            <small class="badge mr-5px badge-{{  election['status'] }} ">{{ election['status'] }}</small>
        </p>
        <div class="description mb-2rem space-lr">
            {{ election['exception_description']}}
        </div>
        <div class="space-lr row">
            <div class="col-md-8">
                <form action="" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="form-group">
                        <input
                             type="text"
                             name="name"
                             class="form-control"
                             placeholder="Enter your full name"
                             required
                        >
                    </div>
                    <div class="form-group">
                        <input
                            type="email"
                            name="email"
                            class="form-control"
                            placeholder="Enter your email"
                            required
                        >
                    </div>
                    <div class="form-group">
                        <input
                            type="text"
                            name="chat"
                            class="form-control"
                            placeholder="Enter your chat ID"
                            required
                        >
                    </div>
                    <div class="form-group">
                        <textarea
                            name="description"
                            class="form-control"
                            placeholder="List of contributions"
                            id=""
                            cols="30"
                            rows="6"
                            required
                        ></textarea>
                    </div>
                    <div class="form-group">
                        <textarea name="comments" class="form-control" placeholder="Comments" id="" cols="30" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark">Submit Request</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
