{% extends 'layouts/app.html' %}

{% block header %}
<h1>{% block title %}{{ election['name'] }}{% endblock %}</h1>
{% endblock %}

{% block breadcrums %}
<a href="{{ url_for('elections') }}" class="breadcrums">elections</a>
<a href="{{ url_for('elections_single', eid=election['key']) }}" class="breadcrums">{{ election['name'] }}</a>
<a href="" class="breadcrums breadcrums-active">vote</a>
{% endblock %}

{% block content %}
<div class="">
    <div class="space--md pb-0">
        <h1 class="banner-title space-lr">
            {{ election['name'] }}
        </h1>
        <p class="banner-subtitle space-lr mb-2rem">
            <span class="mr-5px">{{ election['organization'] }}</span>
            <span class="text-muted mr-5px">|</span>
            <small class="badge mr-5px badge-{{  election['status'] }} ">{{ election['status'] }}</small>
        </p>
        <p class="disclaimer space-lr mt-1rem">
            The poll ends at <b>{{ election['end_datetime'] }} UTC</b>. Contact the poll supervisor(s) if you need help.
        </p>
    </div>
    <div class="space--md pt-0">
        <h4 class="title space-lr mb-1rem">
            Candidates
        </h4>
        <div class="space-lr">
            <form action="" method="post">
                <div id="draggable">
                    {% for candidate in candidates %}
                    <div class="boxed-hover row  draggable-row" id="div-{{ candidate['key'] }}"
                        data-candidate="{{candidate['key']}}" data-rank="100000000" style="border: 1px solid #80808012;">
                        <div class="col-10 pt-5px pl-0">
                            <h6 class="title mt-5px pb-0 mb-0">
                                {{ candidate['name'] }}
                            </h6>
                        </div>
                        <div class="col-2 text--right">
                            <select class="form-control" name="candidate@{{ candidate['key'] }}"
                                data-candidate="{{candidate['key']}}" id="select-{{ candidate['key'] }}"
                                onchange="handleChange(this);">
                                <option value="100000000">No opinion</option>
                                {% for k in range(1, candidates|length + 1) %}
                                <option value="{{k}}" {% if candidates|length==k %}selected{% endif %}>{{k}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="mt-2rem pt-2rem row">
                    <div class="col-md-6">
                        <small>
                            If you wish to be able to re-cast this ballot, please enter a passphrase here. If you do not enter a passphrase, you will not be able to change your vote later.
                        </small>
                    </div>
                    <div class="col-md-6 pt-5px">
                        <div class="input-group mb-2">
                            <input type="password" name="password" class="form-control" placeholder="Enter a passphrase"id="">
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="submit">Submit Vote</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
{% include "components/draggable.html" %}
{% endblock %}
