{% extends 'layouts/public.html' %}

{% block header %}
<h1>{% block title %}All Elections{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="">
    <div class="space--xl pb-1rem">
        <h1 class="banner-title space-lr">
            {{ election['name'] }}
        </h1>
        <p class="banner-subtitle space-lr mb-2rem">
            <span class="mr-5px">{{ election['organization'] }}</span>
            <span class="text-muted mr-5px">|</span>
            <small class="badge mr-5px badge-{{  election['status'] }} ">{{ election['status'] }}</small>
        </p>
        <div class="description space-lr pb-0">
            {{ election['description'] | safe }}
        </div>
    </div>
    <div class="space--xl pt-0">
        <h4 class="title space-lr">
            Candidates
        </h4>
        <div class="d-flex flex-wrap">
            {% for candidate in candidates %}
            <div class="boxed-hover" style="min-width: 8rem;">
                <h2 class="title pb-0 mb-0">
                    <a href="{{ url_for('elections_candidate', eid=election['key'], cid=candidate['key']) }}"
                        class="color-primary ">
                        {{ candidate['name'] }}
                    </a>
                </h2>
                <small class="text-muted">
                    {{ candidate['ID']}} |
                    <a class=""
                        href="{{ url_for('elections_candidate', eid=election['key'], cid=candidate['key']) }}">profile</a>
                </small>
            </div>
            {% endfor %}
        </div>
        <div class="space-xl pt-2rem">
            <div class="space-lr">
                <a href="{{ url_for('elections_single', eid=election['key'])}}"
                    class="btn btn-dark pl-3rem pr-3rem">
                    {% if g.auth %} Goto the election's page {% else %} Login {% endif %}  to 
                    {% if election['status'] == 'completed' %} see the results {% else %} check eligibility {% endif %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}