<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Login | {{ g.NAME }}</title>
    <!-- Theme css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <section class="h--100 center-y">
        <div class="boxed login space--xl">
            <div class="login__brand">
                <img class="login__brand-img"
                    src="https://raw.githubusercontent.com/kubernetes/kubernetes/master/logo/logo.png" alt="" srcset="">
                <span class="login__brand-subtitle">
                    Community wide application for conducting elections
                </span>
                <span class="login__brand-title">
                    Login to {{g.NAME}}
                </span>
            </div>
            <div class="login__action">
                <form action="{{ url_for('oauth_github_login') }}" method="POST">
                    <button type="submit" class="btn btn__login">
                        <span>
                            Sign in with Github
                        </span>
                    </button>
                </form>
                <hr>
                <div class="login__action-break center-y">
                    <div class="border--bottom login__action-break-line"></div>
                    <span>or</span>
                    <div class="border--bottom login__action-break-line"></div>
                    </div>
                </div>
                <div class="login__footer">
                    <span>
                        See community voting
                    </span>
                    <span class="text-dark">
                        guidelines
                    </span>
                </div>
            </div>
        </div>
    </section>
</body>

</html>


