<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>k8s.elections</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <section class="h-100">
        <div class="f-welcome">
            <div class="f-login">
                <div class="f-brand">
                    <img class="f-brand_logo"
                        src="https://raw.githubusercontent.com/kubernetes/kubernetes/master/logo/logo.png" alt=""
                        srcset="">
                </div>
                <div class="f-brand_txt">
                    Community wide application for conducting elections
                </div>
                <div class="f-brand_title">
                    Login to {{name}}
                </div>
                <div style="margin-bottom: 1.4rem;">
                    <form action="/login" method="POST">
                        <button type="submit" class="btn-github">Sign in with Github</button>
                    </form>
                </div>
                <div style="display: flex; margin-bottom: 2rem;">
                    <div style="border-bottom: 1px solid #DCDCDC; width: 43%; height: 0; margin: .75rem 20px 1rem 0;">
                    </div>
                    <span style="display: inline-block; color: #B3B3B3;">or</span>
                    <div style="border-bottom: 1px solid #DCDCDC; width: 43%; height: 0; margin: .75rem 0 1rem 20px;">
                    </div>
                </div>
                <div class="f-login__foot">
                    See community voting guidelines
                </div>
            </div>
        </div>
    </section>
</body>

</html>