<div class="sidebar border--right" id="sidebar">
    <div class="sidebar__user border--bottom">
        <img src="{{ g.user['avatar_url'] }}" alt="" srcset="" class="sidebar__user-img bordered">
        <a href="https://github.com/{{ g.user['login'] }}"><h3 class="sidebar__user-title">
            {{ g.user['name'] }}
        </h3></a>
    </div>
    <div class="sidebar-item">
        <a href="{{ url_for('elections') }}">
            <span>
                Explore Election
            </span>
        </a>
    </div>
    <div class="sidebar-divider border--bottom mt-2rem">
        <span>
            Past Elections
        </span>
    </div>
    <!-- {% for i in range(4) %}
    <div class="sidebar-item">
        <span>
            Steering - 2019
        </span>
    </div>
    {% endfor %} -->

    <div class="sidebar-item sidebar__footer">
        copyright 2020 © {{g.NAME}}
    </div>
</div>