<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %}{% endblock %} | k8s.elections</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body onload="onload()">
    <section class="d-flex">
        {% include "components/sidebar.html" %}
        <div class="content-container content-has-sidebar" id="content">
            <nav class="nav">
                <div>
                    <a href="{{ url_for('app') }}" class="breadcrums">{{g.NAME}}</a>
                    {% block breadcrums %}{% endblock %}
                </div>
                <div class="">
                    <a class="text-dark" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </nav>
            <div class="content">
                <section id="message">
                    <div class="space--sm">
                        {% for message in get_flashed_messages() %}
                        <div class="flash">{{ message }}</div>
                        {% endfor %}
                    </div>
                </section>
                {% block content %}{% endblock %}
            </div>
        </div>
    </section>
    {% block script %}{% endblock %}
    <script>
        const onload = () => {
            setTimeout(() => {
                document.getElementById('message').hidden = true
            }, 10000);
        }
    </script>
</body>

</html>