.boxed {
    box-shadow: 0px 9px 46px rgba(0, 0, 0, 0.13), 0px 2.01027px 10.2747px rgba(0, 0, 0, 0.0774939),
        0px 0.598509px 3.05905px rgba(0, 0, 0, 0.0525061);
}

.boxed-2 {
    padding: .7rem 1rem;
    border-radius: 3px;
    box-shadow: 0 8px 24px 0 rgba(54, 97, 174, 0.14);
}

.boxed-hover {
    padding: .7rem 1rem;
    border-radius: 3px;
    transition: all 0.2s ease-out;

    & > h2 {
        font-size: 1rem;
        font-weight: 300;

        & > a {
            font-weight: 500;
        }
    }
    &:hover {
        box-shadow: 0 8px 24px 0 rgba(54, 97, 174, 0.14);
    }
}
