{% extends 'layouts/app.html' %}

{% block header %}
<h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="dashboard">
    <div class="space--md pb-0">
        <h1 class="banner-title space-lr">
            Welcome! {{ g.user.name }}
        </h1>
        <p class="banner-subtitle space-lr">
            we have few things for you to look at.
        </p>
    </div>

    {% if running | length %}
    <div class="space--md pb-0">
        <h4 class="title space-lr">
            Elections in progress
        </h4>
        <div class="">
            {% for e in running %}
            <div class="boxed-hover">
                <h2 class="title pb-0 mb-0">
                    <a href="{{ url_for('elections_single', eid=e['key']) }}" class="color-primary ">
                        {{ e['name'] }}
                    </a>
                </h2>
                <small class="text-muted">
                    {{ e['organization']}} |
                    Running from  {{ e['start_datetime'] }} to {{ e['end_datetime'] }}.
                </small>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if g.past_elections | length %}
    <div class="space--md">
        <h4 class="title space-lr">
            Previously Voted
        </h4>
        <div class="">
            {% for e in  g.past_elections %}
            <div class="boxed-hover">
                <h2 class="title pb-0 mb-0">
                    <a href="{{ url_for('elections_single', eid=e['key']) }}" class="color-primary ">
                        {{ e['name'] }}
                    </a>
                </h2>
                <small class="text-muted">
                    {{ e['organization']}} |
                    Voting ended on {{ e['end_datetime'] }}.
                    {% if e['status'] == 'completed' and e['results'] %} | <a href="{{ url_for('elections_results', eid=e['key'])}}">Results</a> {% endif %}
                </small>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if g.past_elections | length == 0 and running | length == 0 %}    
    <div class="space--md">
        <p class="space-lr">
            Sit back and Relax, there is not to do yet.
        </p>
    </div>
    {% endif %}
</div>

{% endblock %}
