{% extends 'layouts/public.html' %}

{% block header %}
<h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}

<section class="h--90 pt-3rem center-y" style="justify-content: center;">
    <div class="boxed login space--xl">
        <div class="login__brand">
            <img class="login__brand-img"
                src="{{ url_for('static', filename='logo.png') }}" alt="" srcset="">
            <span class="login__brand-subtitle">
                Community wide application for conducting elections
            </span>
        </div>
        <div class="login__action">
            <form action="{{ url_for('oauth_github_login', r=request.args.get('r')) }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit" class="btn btn__login">
                    <img width="17" src="https://cdn2.iconfinder.com/data/icons/social-icons-grey/512/GITHUB-512.png" />
                    <span class="text-white">
                        Sign in with Github
                    </span>
                </button>
            </form>

            <div class="login__action-break center-y">
                <div class="border--bottom login__action-break-line"></div>
                <span>or</span>
                <div class="border--bottom login__action-break-line"></div>
            </div>
        </div>
        <div class="login__footer">
            <span>
                See community voting
            </span>
            <a href="">
            <span class="text-dark">
                guidelines
            </span>
            </a>
        </div>
    </div>
    </div>
</section>

{% endblock %}
