.btn {
    &,
    &:link,
    &:visited {
        cursor: pointer;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.3s ease-in;
        color: #ffffff;
    }

    &-link {
        font-size: 1.2rem;
        font-weight: 700;
    }

    &-blue {
        background: #4a90e2;
        color: #ffffff;
    }

    &__login {
        height: 43.46px;
        background-color: $color-black;
        font-size: 16px;
        text-transform: none;
        border: 1px solid $color-black;
        width: 100%;
        padding-left: 0;
        
    }
}

