<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

    $(function () {
        $("#draggable").sortable();
        $("#draggable").disableSelection();
    });

    const update_candidate = (candidate, rank) => {
        $(`#div-${candidate}`).attr('data-rank', rank);
        $(`#select-${candidate}`).val(rank);
    }

    const sort = (index = null) => {
        $("#draggable").each(function () {
            $(this).html($(this).children('div').sort(function (a, b) {
                return ($(b).data('rank')) < ($(a).data('rank')) ? 1 : -1;
            }));
        });
    }

    $("#draggable").on("sortstop", function (event, ui) {
        var children = $('#draggable').children('div');
        var rank = ui.item.index() + 1;
        if (rank != 1) {
            var hi = children[ui.item.index() - 1].dataset.rank;
            if (hi != 100000000 && hi < children.length) {
                rank = parseInt(hi) + 1;
            }
        }
        update_candidate(ui.item.data('candidate'), rank);
        sort();
    });

    const handleChange = (e) => {
        update_candidate(e.dataset.candidate, e.value);
        sort();
    }

</script>
